@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}
@media (max-width: 800px) {
  .title {
    display: block;
    text-align: center;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
}

footer {
  max-width: 1260px;
  margin: 0 auto;
  background: #ffffff;
}
footer .footer-menu {
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;
  padding-top: 30px;
}
footer .footer-menu span {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  display: flex;
  flex-direction: column;
}
footer .footer-menu span ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 16px;
}
footer .footer-menu span ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6a983c;
  margin-bottom: 16px;
  cursor: pointer;
}
@media (max-width: 800px) {
  footer .footer-menu span ul li {
    display: block;
    text-align: center;
  }
}
footer .footer-menu span ul li:last-child {
  margin-bottom: 0px;
}
footer .footer-tags {
  padding: 45px;
}
footer .footer-tags ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-tags ul li {
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12x;
  line-height: 18px;
  background: #f5f5f5;
  border-radius: 12px;
  display: inline-flex;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
@media (max-width: 800px) {
  footer .footer-tags ul li {
    display: block;
    text-align: center;
  }
}
footer .footer-tags ul li:last-child {
  margin-right: 0;
}
footer .footer-copyright {
  padding: 45px;
  padding-top: 0px;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}
@media (max-width: 800px) {
  footer .footer-copyright {
    display: block;
    text-align: center;
  }
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}
@media (max-width: 800px) {
  .title {
    display: block;
    text-align: center;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}
@media (max-width: 800px) {
  .title {
    display: block;
    text-align: center;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
}

.category-menu {
  max-width: 1260px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background: #ffffff;
}
.category-menu .box {
  display: flex;
  padding: 45px;
}
.category-menu .box .menu {
  display: block;
  margin-right: 140px;
  min-width: 110px;
}
.category-menu .box .menu span ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 16px;
}
.category-menu .box .menu span ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6a983c;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
  padding-bottom: 12px;
}
.category-menu .box .menu span ul li:last-child {
  padding-bottom: 0px;
  margin-bottom: 45px;
}
.category-menu .box .menu .btn-more-categories {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  cursor: pointer;
}
.category-menu .box .banner {
  background: #f4f8ec;
  border-radius: 12px;
  width: 420px;
  height: 280px;
  margin-right: 30px;
  padding-top: 45px;
}
.category-menu .box .banner:last-child {
  margin-right: 0;
}
.category-menu .box .banner span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  margin-bottom: 8px;
  padding-left: 33px;
}
.category-menu .box .banner .heading-space {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
  padding: 0px 0px 100px 33px;
}
.category-menu .box .banner .btn-read-recepies {
  border: 2px solid #92c064;
  border-radius: 12px;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  margin-left: 33px;
  max-width: 150px;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}
@media (max-width: 800px) {
  .title {
    display: block;
    text-align: center;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
}

.best-selling-products {
  max-width: 1260px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.best-selling-products .box {
  padding: 60px 45px;
  display: flex;
  align-items: center;
}
.best-selling-products .box .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 90px;
  min-width: 100px;
}
.best-selling-products .box .menu span {
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  color: #151515;
  margin-bottom: 16px;
}
.best-selling-products .box .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.best-selling-products .box .menu ul li a {
  padding: 0;
  display: block;
  color: #6a983c;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
  line-height: 19px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 12px;
}
.best-selling-products .box .menu .btn-more-products {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 12px 16px;
  color: #151515;
  line-height: 22px;
  font-size: 15px;
  font-weight: 700;
  max-width: 140px;
  margin-top: 45px;
}
.best-selling-products .box .product-card {
  border: 1px solid #d1d1d1;
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  margin: 0px 16px;
}
.best-selling-products .box .product-card:last-child {
  margin-right: 0;
}
.best-selling-products .box .product-card .no-discount-photo {
  display: block;
  width: 200px;
  height: 180px;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
}
.best-selling-products .box .product-card .picture {
  display: block;
  width: 200px;
  height: 180px;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
}
.best-selling-products .box .product-card .picture span {
  color: #6a983c;
  line-height: 18px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
.best-selling-products .box .product-card .title {
  color: #151515;
  line-height: 22px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.best-selling-products .box .product-card span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}
.best-selling-products .box .product-card .card-monetization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.best-selling-products .box .product-card .card-monetization .price {
  color: #151515;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.best-selling-products .box .product-card .card-monetization .price .spacing {
  padding: 9px;
}
.best-selling-products .box .product-card .card-monetization .price span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
}
.best-selling-products .box .product-card .card-monetization .buy-btn a {
  text-decoration: none;
  background: #6a983c;
  border: 2px solid #46760a;
  border-radius: 12px;
  padding: 6px 12px;
  color: #ffffff;
  line-height: 22px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}
@media (max-width: 800px) {
  .title {
    display: block;
    text-align: center;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
}

.section-headline {
  max-width: 1260px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.section-headline .box1 {
  padding: 60px 45px;
}
.section-headline .box1 .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.section-headline .box1 .heading .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}
.section-headline .box1 .heading span {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  padding: 6px 12px;
}
.section-headline .box1 .box2 {
  display: flex;
  align-items: center;
}
.section-headline .box1 .box2 .product-card {
  border: 1px solid #d1d1d1;
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  margin: 0px 16px;
}
.section-headline .box1 .box2 .product-card:first-child {
  margin-left: 0;
}
.section-headline .box1 .box2 .product-card:last-child {
  margin-right: 0;
}
.section-headline .box1 .box2 .product-card .no-discount-photo {
  display: block;
  width: 200px;
  height: 180px;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
}
.section-headline .box1 .box2 .product-card .picture {
  display: block;
  width: 200px;
  height: 180px;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
}
.section-headline .box1 .box2 .product-card .picture span {
  color: #6a983c;
  line-height: 18px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
.section-headline .box1 .box2 .product-card .title {
  color: #151515;
  line-height: 22px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.section-headline .box1 .box2 .product-card span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}
.section-headline .box1 .box2 .product-card .card-monetization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.section-headline .box1 .box2 .product-card .card-monetization .price {
  color: #151515;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.section-headline .box1 .box2 .product-card .card-monetization .price .spacing {
  padding: 9px;
}
.section-headline .box1 .box2 .product-card .card-monetization .price span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
}
.section-headline .box1 .box2 .product-card .card-monetization .buy-btn a {
  text-decoration: none;
  background: #6a983c;
  border: 2px solid #46760a;
  border-radius: 12px;
  padding: 6px 12px;
  color: #ffffff;
  line-height: 22px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}
@media (max-width: 800px) {
  .title {
    display: block;
    text-align: center;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
}

.best-from-farmers {
  max-width: 1260px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.best-from-farmers .box {
  padding: 60px 45px;
  display: flex;
  align-items: center;
}
.best-from-farmers .box .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 115px;
  min-width: 160px;
}
.best-from-farmers .box .menu span {
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  color: #151515;
  margin-bottom: 16px;
}
.best-from-farmers .box .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.best-from-farmers .box .menu ul li a {
  padding: 0;
  display: block;
  color: #6a983c;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
  line-height: 19px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 12px;
}
.best-from-farmers .box .menu .btn-more-products {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 12px 16px;
  color: #151515;
  line-height: 22px;
  font-size: 15px;
  font-weight: 700;
  max-width: 140px;
  margin-top: 45px;
}
.best-from-farmers .box .product-card {
  margin: 0;
  padding: 0;
  border: 1px solid #d1d1d1;
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  margin: 0px 16px;
}
.best-from-farmers .box .product-card:last-child {
  margin-right: 0;
}
.best-from-farmers .box .product-card .no-discount-photo {
  display: block;
  width: 200px;
  height: 180px;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
}
.best-from-farmers .box .product-card .picture {
  display: block;
  width: 200px;
  height: 180px;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
}
.best-from-farmers .box .product-card .picture span {
  color: #6a983c;
  line-height: 18px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
.best-from-farmers .box .product-card .title {
  color: #151515;
  line-height: 22px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.best-from-farmers .box .product-card span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}
.best-from-farmers .box .product-card .card-monetization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.best-from-farmers .box .product-card .card-monetization .price {
  color: #151515;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.best-from-farmers .box .product-card .card-monetization .price .spacing {
  padding: 9px;
}
.best-from-farmers .box .product-card .card-monetization .price span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
}
.best-from-farmers .box .product-card .card-monetization .buy-btn a {
  text-decoration: none;
  background: #6a983c;
  border: 2px solid #46760a;
  border-radius: 12px;
  padding: 6px 12px;
  color: #ffffff;
  line-height: 22px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}
@media (max-width: 800px) {
  .title {
    display: block;
    text-align: center;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
}

.read-blog-posts {
  max-width: 1260px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.read-blog-posts .box1 {
  padding: 60px 45px;
}
.read-blog-posts .box1 .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
}
.read-blog-posts .box1 .heading .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}
.read-blog-posts .box1 .heading span {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  padding: 6px 12px;
}
.read-blog-posts .box1 .box2 {
  display: flex;
}
.read-blog-posts .box1 .box2 .dinner-tips {
  display: flex;
  flex-direction: column;
  max-width: 469px;
}
.read-blog-posts .box1 .box2 .dinner-tips .tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  padding-bottom: 120px;
  margin: 30px;
}
.read-blog-posts .box1 .box2 .dinner-tips .chef-tips-details {
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  margin-right: 30px;
  height: 206px;
}
.read-blog-posts .box1 .box2 .dinner-tips .chef-tips-details p {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  padding: 65px 0 0px 24px;
  margin: 0;
}
.read-blog-posts .box1 .box2 .dinner-tips .chef-tips-details .name-date {
  display: flex;
  align-items: center;
  padding: 15px 0px 24px 24px;
}
.read-blog-posts .box1 .box2 .dinner-tips .chef-tips-details .name-date .photo {
  background: #f9f9f9;
  border-radius: 12px;
  width: 32px;
  height: 32px;
}
.read-blog-posts .box1 .box2 .dinner-tips .chef-tips-details .name-date span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 16px;
}
.read-blog-posts .box1 .box2 .info-card {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  max-width: 267px;
}
.read-blog-posts .box1 .box2 .info-card a {
  display: block;
  background: #f5f5f5;
  border-radius: 12px;
  width: 269px;
  height: 180px;
  cursor: pointer;
  margin-bottom: 24px;
}
.read-blog-posts .box1 .box2 .info-card .vegetable {
  background: #f4f8ec;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  margin-bottom: 8px;
  max-width: 80px;
  padding: 0 8px;
  text-align: center;
}
.read-blog-posts .box1 .box2 .info-card .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin: 0;
  padding: 0;
}
.read-blog-posts .box1 .box2 .info-card .name-date {
  display: flex;
  align-items: center;
  padding: 15px 0px 24px 0px;
}
.read-blog-posts .box1 .box2 .info-card .name-date span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  padding-right: 16px;
}
.read-blog-posts .box1 .box2 .food-info-box {
  display: block;
}
.read-blog-posts .box1 .box2 .food-info-box .food-info-comments {
  display: flex;
  align-items: center;
  padding-bottom: 45px;
}
.read-blog-posts .box1 .box2 .food-info-box .food-info-comments:last-child {
  padding-bottom: 0;
}
.read-blog-posts .box1 .box2 .food-info-box .food-info-comments .name-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}
.read-blog-posts .box1 .box2 .food-info-box .food-info-comments .name-date p {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  max-height: 46px;
  max-width: 230px;
  padding-bottom: 12px;
}
.read-blog-posts .box1 .box2 .food-info-box .food-info-comments .name-date .box3 span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  padding-right: 16px;
}
.read-blog-posts .box1 .box2 .food-info-box .food-info-comments .pic {
  width: 96px;
  height: 96px;
  background: #f5f5f5;
  border-radius: 12px;
}/*# sourceMappingURL=styles.css.map */