@import "../Partials/variables";
@import "../general/texts";
@import "../general/general";

.header-box {
  display: block;
  padding: 0;
  margin: 0;
  background: $col-white;
  max-width: 1260px;
  margin: 0 auto;

  .header-info {
    display: flex;
    align-items: center;
    padding: 16px 45px;

    .chat {
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-green;
      margin-right: 30px;
    }

    .phone {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-black;
      margin-right: 30px;
    }

    .email {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-black;
      margin-right: 590px;
    }

    .blog {
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-green;
      margin-right: 30px;
    }

    .about-us {
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-green;
      margin-right: 30px;
    }

    .careers {
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-green;
    }
  }

  .header-main {
    display: flex;
    align-items: center;
    padding: 45px;

    .logo {
      color: $col-black;
      font-size: 25px;
      font-weight: bold;
      margin-right: 155px;
    }
    .search-bar {
      display: flex;
      align-items: center;
      background: $col-grey-2;
      border: 1px solid #d1d1d1;
      border-radius: 12px;
      padding: 11px 16px;
      margin-right: 250px;
      width: 500px;

      label {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: $col-black;
        margin-right: 10px;
        cursor: pointer;

        img {
          width: 15px;
          color: $col-green;
        }
      }

      .bara-verticala {
        border: 1px solid #d1d1d1;
        margin-left: 15px;
        margin-right: 25px;
        height: 25px;
        background: $col-grey-2;
      }

      .search {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgb(119, 116, 116);
        margin-right: 15px;
        width: 220px;
        border: none;
        background: $col-grey-2;
        margin-right: 15px;
      }

      .search-logo {
        width: 20px;
        cursor: pointer;
      }
    }

    .login-logo {
      width: 30px;
      margin-right: 40px;
      cursor: pointer;
    }

    .shopping-cart-logo {
      width: 30px;
      cursor: pointer;
    }
  }
}
.header-menu-box {
  max-width: 1260px;
  margin: 0 auto;
  background: $col-grey-2;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 45px;

    li {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: $col-black;
      margin-right: 45px;
      display: inline-flex;
      align-items: center;

      img {
        width: 10px;
        height: 10px;
        color: $col-green;
        padding-left: 8px;
      }
    }
  }
}
